.principal-header{
    background-color: #00E88F;
    color: #000;
    position: fixed;  top: 0; left: 0; right: 0;
    clear: both;
}
section{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Macondo', cursive;
    margin: 0px;
    padding: 0px;
}
.principal-section{
    margin-top: 2em;
    padding: 1em;
}
input, aSenha{

    padding: 0.5em;
}
.form-login{
    border: 1px solid #000;
    background-color: #00E88F;
    padding: 1em;
    text-align: center;
}
form a{
    color: #f44336;
    text-decoration: none;
}
.boasVindas a{
    font-style: italic;
    font-size: 1.3em;
}
.boasVindas{
    background-color: #FFF;
}
.quadro a{
    font-size: 1em;
}
.btn-primary{
    background-color: #00E88F;
}
.container-fluid{
    margin: 0px;
    padding: 0px;
    background-color: #FFF;
}
img-icon{
    float: left;
}
.bemVindo{
    font-style: italic;
}
.quadro{
    padding: 0.1em;
    border: 1px solid #000;
    text-align: left;
    background-color: #000;
    color: #fff;
    font-size: 1em;
    clear: both;
}
.cardTarefa{
    padding: 0.78em;

    background-color: #91b4a7;
    color: #000;
    margin-bottom: 1px;
}
.cardTarefa a{
    text-decoration: none;
}
.tituloTarefas{
    text-align: center;
}
#tarefaStatus{
  padding: 0;
  margin: 0;
}
.btn-editar{

    float: right;
}
.btn-Add{
    float: right;
}

.btn-ver{
    float: right;
    margin: 1px;
}
.btn-excluir{
    float: right;
}
.aConta{
    color: #3f51b5;
}
#modalExcluir{
    color: red;
}
.modal{
    background-color: #00E88F;
    opacity: 0.97;
}
.container-principal{
    background-color: #000;
}
li a{
    text-decoration: none;
    color: #333;
    padding: 1em;
}
.add-tarefas{
    padding: 1.5em;
}
.tarefa{
    color: #fff;
    font-family: consolas;
}
.btn{
    border-radius: 0em;
}
.modal-content{
    border-radius: 0em;
}
footer{
  padding: 1em;
  margin-top: 0px;
  text-align: center;
}
footer a{
  text-decoration: none;
  color: #000;
  font-family: consolas;
}
/*Teste*/